body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8f5; /* Hijau muda lembut untuk latar */
    color: #333; /* Warna teks utama */
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #2e7d32; /* Hijau Pegadaian */
    font-size: 2.5em;
}

h2 {
    text-align: center;
    color: #388e3c; /* Warna hijau lebih terang */
}

.form-container {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #e8f5e9; /* Hijau muda untuk form */
    border-radius: 8px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #2e7d32;
}

input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #43a047; /* Hijau yang mencolok */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2e7d32; /* Warna hijau lebih gelap */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #2e7d32; /* Hijau tua */
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

td {
    padding: 10px;
    text-align: center;
    color: #555;
}

button.delete-btn {
    background-color: #d32f2f; /* Merah untuk tombol hapus */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.delete-btn:hover {
    background-color: #b71c1c; /* Merah lebih gelap */
}

table td img {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}
